<!--Including header.ejs file-->
<%- include ("partials/header") -%>

<h1>About Faysal</h1>
<p> <%= aboutDefaultDisplayContent %></p>





<!--Including footer.ejs file-->
<%- include ("partials/footer") -%>