<!--Including header.ejs file-->
<%- include ("partials/header") -%>

<h1>Contact Faysal</h1>
<p> <%= contactDefaultDisplayContent %></p>


<!--Including footer.ejs file-->
<%- include ("partials/footer") -%>